<div class="select-gc-holder">
    <div class="selector-name">
        Курс
    </div>
    <div class="gs-cs-cource-select">

        <div class="gs-cs-cource-line current-line shadowed-item" id="gs-cs-gmsc-select">
            <div class="gs-cs-data-section" id="gs-cs-data-section">
                {{#lastcoursename}}
                {{#coursesrc}}
                <div class="gs-cs-logo">
                    <img src="{{coursesrc}}" alt="">
                </div>
                {{/coursesrc}}
                {{^coursesrc}}
                <div class="cs-group-logo clr-background-subcolor-by-theme-{{colorindex}}" data-cindex="{{colorindex}}">
                    <svg width="30" height="25" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                d="M9.5 2L2 6L9.5 10L15.6364 6.72667V11.3333H17V6L9.5 2ZM4.72727 8.78667V11.4533L9.5 14L14.2727 11.4533V8.78667L9.5 11.3333L4.72727 8.78667Z"
                                fill="white" />
                        </g>
                    </svg>
                </div>
                {{/coursesrc}}
                {{/lastcoursename}}
                {{#lastcoursename}}
                <div class="gs-cs-cource-name" data-id="{{lastcourseid}}">
                    {{lastcoursename}}
                </div>
                {{/lastcoursename}}
                {{^lastcoursename}}
                <div class="cs-cource-name">
                    Выберите курс
                </div>
                <div class="gs-cs-checker"></div>
                {{/lastcoursename}}
            </div>
            <div class="gs-cs-cource-selector">
                <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 2L10.5 11L19 2" stroke-width="3" />
                </svg>
            </div>
        </div>
        <!-- list -->
        <div class="gs-cs-cource-list hide" id="gs-cs-gmsc-list">
            {{#searchcource}}
            <div class="gs-cource-search-line">
                <input type="search" placeholder="Найти курс" class="non-click" id="gs-cource-search">
            </div>
            {{/searchcource}}
            {{^searchcource}}
            <div class="gs-nodata">Нет доступных курсов</div>
            {{/searchcource}}
            {{#courses}}
            <div class="gs-cs-cource-line">
                <div class="gs-cs-data-section">
                    {{#coursesrc}}
                    <div class="gs-cs-logo">
                        <img src="{{coursesrc}}" alt="">
                    </div>
                    {{/coursesrc}}
                    {{^coursesrc}}
                    <div class="cs-group-logo clr-background-subcolor-by-theme-{{colorindex}}" data-cindex="{{colorindex}}">
                        <svg width="33" height="27" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path
                                    d="M9.5 2L2 6L9.5 10L15.6364 6.72667V11.3333H17V6L9.5 2ZM4.72727 8.78667V11.4533L9.5 14L14.2727 11.4533V8.78667L9.5 11.3333L4.72727 8.78667Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                    {{/coursesrc}}
                    <div class="gs-cs-cource-name" data-id="{{courseid}}">
                        {{coursename}}
                    </div>
                </div>
                <div class="gs-cs-cource-selector">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" version="1.1">
                        <circle cx="5" cy="5" r="3"></circle>
                    </svg>
                </div>
            </div>
            {{/courses}}
        </div>
        <!-- list -->
    </div>
    <div class="hide">
        <div id="hover-color" class="clr-background-color-by-theme-3"></div>
        <div id="bss-color" class="pie-background-color-1"></div>
        <div id="oss-color" class="pie-background-color-2"></div>
        <div id="gss-color" class="pie-background-color-3"></div>
        <div id="wss-color" class="pie-background-color-4"></div> 
    </div>
</div>