/*theme1*/
.theme-subcolor-1{
  background:#AFCBE4;

}

.theme-subcolor-2{
  background:#93AED2;

}

.theme-subcolor-3{
  background:#4E719A;

}

.theme-subcolor-4{
  background:#BAC2C7;

}

.theme-subcolor-5{
  background:  #7E9BAD;

}

.theme-subcolor-6{
  background:#7AB1E2;

}

.theme-subcolor-7{
  background:  #83A4C1;

}

.theme-subcolor-8{
  background:#6A83A9;

}

.theme-subcolor-9{
  background:#707A94;

}

.theme-subcolor-10{
  background:#395B83;
}
