/*theme1*/
.theme-subcolor-1{
  background: #E3E4AF;

}

.theme-subcolor-2{
  background:#E9DB94;

}

.theme-subcolor-3{
  background:#9A8E4E;

}

.theme-subcolor-4{
  background:  #C7C6BA;

}

.theme-subcolor-5{
  background:#796F3B;

}

.theme-subcolor-6{
  background:#BCBD78;

}

.theme-subcolor-7{
  background:#D8DA78;

}

.theme-subcolor-8{
  background:#D8DA8B;

}

.theme-subcolor-9{
  background:#C1B262;

}

.theme-subcolor-10{
  background:#B1A772;
}
