/*theme1*/
.theme-subcolor-1{
  background:#B0AFE4;

}

.theme-subcolor-2{
  background:#A57BB9;

}

.theme-subcolor-3{
  background:#4E5A9A;

}

.theme-subcolor-4{
  background:#BAC2C7;

}

.theme-subcolor-5{
  background:  #8FB7CF;

}

.theme-subcolor-6{
  background:#8F8FB5;

}

.theme-subcolor-7{
  background:#8686CF;

}

.theme-subcolor-8{
  background:  #CCCCFE;

}

.theme-subcolor-9{
  background:#B4A2DA;

}

.theme-subcolor-10{
  background:#7381C9;
}
