/*theme1*/
.theme-subcolor-1{
  background: #DCF4B5;

}

.theme-subcolor-2{
  background:#AED09A;

}

.theme-subcolor-3{
  background:#92B861;

}

.theme-subcolor-4{
  background:  #C0C7BA;

}

.theme-subcolor-5{
  background:#949F8B;

}

.theme-subcolor-6{
  background:#92BD78;

}

.theme-subcolor-7{
  background:#7A8F5E;

}

.theme-subcolor-8{
  background:#AFDB8D;

}

.theme-subcolor-9{
  background:#A5CA87;

}

.theme-subcolor-10{
  background:  #739A41;
}
