/*theme1*/
.theme-subcolor-1{
  background:#C3E4AF;

}

.theme-subcolor-2{
  background:#A3D97D;
}

.theme-subcolor-3{
  background:  #4E9A5F;

}

.theme-subcolor-4{
  background:#53795B;

}

.theme-subcolor-5{
  background:#1F612D;

}

.theme-subcolor-6{
  background:#92BD78;

}

.theme-subcolor-7{
  background:#82AE4A;

}

.theme-subcolor-8{
  background:#3D8244;

}

.theme-subcolor-9{
  background:#809470;

}

.theme-subcolor-10{
  background:#BCCAB2;
}
