:root{
    --moveBg: -50%; //scroll speed
}

body {
    background-position-y: var(--moveBg); 
    transition: ease-in-out 1s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; 
}
.region-main .region-main-content {
    padding: 0.875rem;
    background-color: $body-bg;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
}