/**********************************************/
.hide {
    display: none !important;
}

.cs-group-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.groupstats-summary {
    width: 100%;
    position: relative;
    top: 0.3rem;
    content: ""
}

.groupstats-summary h5 {
    height: auto;
}

.groupstats-summary.active {
    height: 0 !important;
}

.groupstats-summary.active h5 {
    height: 0 !important;
    overflow: hidden;
}

.groupstats-summary.active .gs-summary-switch {
    transform: rotate(180deg);
}

.gs-summary-switch {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.375rem;
    height: 1.2rem;
    content: "";
    transition: transform 0.2s;
    will-change: transform;
    background: url(/theme/image.php/classic/theme/1649259186/icons/arrow-details) no-repeat center;
    background-size: auto;
    background-size: contain;
}

.gst-student.blanked {
    width: 85px;
    margin-right: 18px;
}

.no-students {
    width: 240px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.gst-list-holder .gst-line-text {
    width: 145px;
    text-align: center;
}

.blank-holder {
    color: #353535;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(140, 140, 140, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
    user-select: none;
    font-size: 34px;
}

.shadowed-item {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.select-gc-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 30px;
}

.selector-name {
    width: 65px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

.gs-nodata {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.gs-cs-form-holder {
    display: flex;
    flex-wrap: wrap;
}

.gs-cs-group-select .hide,
.gs-cs-cource-select .hide {
    display: none;
    transition: height .3s linear;
}

.gs-cs-group-select {
    z-index: 5;
}

.gs-cs-cource-select {
    z-index: 7;
}

.gs-cs-group-select .show,
.gs-cs-cource-select .show {
    display: block;
    transition: height .3s linear;
}

.gs-cs-group-select,
.gs-cs-cource-select {
    max-width: 300px;
    min-width: 200px;
    min-height: 50px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.gs-cs-logo {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.gs-cs-logo img {
    /* width: 100%; */
    height: 100%;
}

.gs-cs-group-line,
.gs-cs-cource-line {
    min-height: 47px;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    flex-shrink: 0;
}

.gs-cs-group-list,
.gs-cs-cource-list {
    width: 100%;
    position: absolute;
    max-height: 300px;
    overflow: auto;
    border: 1px solid lightgrey;
    padding-bottom: 15px;
    background: white;
    border-radius: 5px;
}

.gs-cs-group-list .gs-cs-group-line:hover,
.gs-cs-cource-list .gs-cs-cource-line:hover {
    border-radius: 5px;
    color: forestgreen;
    border: 1px solid forestgreen;
}

.gs-cs-group-line.current-line .gs-cs-group-selector,
.gs-cs-cource-line.current-line .gs-cs-cource-selector {
    transition: height .3s linear;
}

.gs-cs-group-line.current-line.active,
.gs-cs-cource-line.current-line.active {
    /*border: 1px solid forestgreen;*/
    background: #f0fff6;
    border-radius: 5px;
}

.gs-cs-group-line.current-line.active .gs-cs-group-selector,
.gs-cs-cource-line.current-line.active .gs-cs-cource-selector {
    transform: rotate(-180deg);
    transition: .3s;
}

.gs-cs-group-line.current-line.active .gs-cs-group-selector svg,
.gs-cs-cource-line.current-line.active .gs-cs-cource-selector svg {
    stroke: forestgreen;
}

.gs-cs-group-line.current-line,
.gs-cs-cource-line.current-line {
    border: 1px solid lightgrey;
}

.gs-cs-group-line.current-line:hover,
.gs-cs-cource-line.current-line:hover {
    border: 1px solid forestgreen;
}

.gs-cs-group-line.current-line:hover .gs-cs-group-selector svg,
.gs-cs-cource-line.current-line:hover .gs-cs-cource-selector svg {
    stroke: forestgreen;
}

.current-line svg,
.current-line svg {
    fill: none !important;
}

.gs-cs-group-line:hover svg,
.gs-cs-cource-line:hover svg {
    fill: forestgreen;
}

.gs-cs-group-logo,
.gs-cs-cource-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.gs-cs-group-logo img,
.gs-cs-cource-logo img {
    /* width: 100%; */
    height: 100%;
}

.gs-cs-group-name,
.gs-cs-cource-name {
    height: inherit;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 15px;
}

.gs-cs-group-selector,
.gs-cs-cource-selector {
    margin-left: auto;
}

.gs-cs-group-selector svg,
.gs-cs-cource-selector svg {
    display: block;
    stroke: #C0C7BA
}

.gs-cs-data-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.gs-cs-division-line {
    margin-top: 20px;
    margin-left: 30px;
    height: 1px;
    background: #bfbfbf;
}

.gs-cs-form-header {
    margin: 10px !important;
}

/******************************/
.gs-cource-search-line input,
.gs-group-search-line input {
    width: 100%;
    height: 40px !important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid forestgreen;
    padding-left: 10px;
}

.gs-cource-search-line input:focus,
.gs-group-search-line input:focus {
    outline: 1px solid forestgreen !important;
    border-bottom: 1px solid transparent;
}

/******************************/
.group-stats .gst-color-well {
    background: #accca6;
}

.group-stats .gst-color-good {
    background: #edeab0;
}

.group-stats .gst-color-okay {
    background: #d7883f;
}

.group-stats .gst-color-bad {
    background: #dca1a1;
}

.block_groupstats {
    overflow: hidden;
}

.group-stats .active {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #353535;
}

.blank-template-gst {}

.gst-students-list.blanked {
    display: flex;
    flex-wrap: nowrap;
    background: transparent;
}

.gst-student.blanked {
    display: block;
    background: transparent;
}

.gst-student.blanked:first-child {
    margin: 10px 15px;
}

.gst-student.blanked .student-image {
    margin: 0 auto;
}

.gst-student.blanked .student-name {
    margin: 0 auto;
}

.group-stats.blank-template-gst .gst-line {
    margin-top: 9px;
}

.group-stats.blank-template-gst .gst-line-bold {
    color: rgba(53, 53, 53, 0.2) !important;
}

.group-stats.blank-template-gst .gst-line:hover {
    cursor: default;
    border: 1px solid transparent !important;
}

.group-stats.blank-template-gst .gst-tab.active {
    cursor: default;
    color: rgba(53, 53, 53, 0.2) !important;
}

.group-stats.blank-template-gst .gst-tab:hover {
    cursor: default;
    color: rgba(53, 53, 53, 0.2) !important;
}

.group-stats .blank {
    width: 100%;
    height: 100%;
    background: darkgray !important;
    border-radius: 5px;
}

.gst-line-bold .blank {
    margin-top: 4px;
}

.gst-line .blank {}

.gst-line .blank,
.gst-line-bold .blank {
    height: 15px;
}

.student-name .blank {
    width: 85px;
    height: 12px;
    border-radius: 3px;
}

.group-stats .gst-tabs-contents.hide,
.group-stats .student-list.hide {
    display: none !important;
}

.group-stats .show {
    display: flex;
}

.group-stats .student-list.show {
    display: block;
}

.group-stats .student-list {
    margin-left: 0 !important;
    margin-top: 18px;
}


.group-performance .gst-line.active,
.group-attendance .gst-line.active {
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    outline: 1px solid #599A4E;
    background: #599A4E;
    color: white;
}

.diagram-sample-color {
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
}

.group-stats {
    max-width: 100% !important;
    max-height: 300px;
    min-height: 270px;
    color: #353535;
    width: 100%;
    transition: .3s;
    margin: 10px !important;
}

@media (max-width: 1366px) {
    .attendance-block {
        display: none;
    }
}

.attendance-block {
    margin-left: 15px;
}

.gst-tabs {
    display: flex;
    flex-wrap: wrap;
}

.gst-tab {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(53, 53, 53, 0.2);
    margin-right: 20px;
    margin-bottom: 5px;
}

.gst-tab:hover {
    color: #599A4E;
}

.gst-tabs-contents {
    display: flex;

}

.gst-tab-content {}

.gst-pie-diagram {
    padding: 5px;
    margin-top: 10px;
    width: 255px;
    height: 255px;
    margin-right: 35px;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.group-performance,
.group-attendance,
.group-payment {
    width: 40%;
    min-width: 220px;
    flex: auto;
}

.gst-line,
.gst-line-bold {
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.gst-line-bold {
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.gst-line-bold .gst-line-value {
    margin-top: 2px;
    line-height: 21px !important;
}

.group-performance .gst-line:hover,
.group-attendance .gst-line:hover {
    border-radius: 5px;
    border: 1px solid #599A4E;
}

.gst-line {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 3px;
    margin-top: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18 px;
}

/*
.gst-line:first-child{
    margin-top: 10px;
}
*/
.gst-line-text {}

.gst-line-value {
    padding-left: 10px;
    justify-content: end;
    flex: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex !important;
    flex-wrap: nowrap !important;
}

.gst-students-list {
    padding-top: 0px;
    max-height: 200px;
    margin-top: 0px;
    max-width: 440px;
    overflow: auto;
}

.gst-students-list a {
    color: #353535;
    text-decoration: none;
}

.gst-students-list a:hover {
    color: #599A4E !important;
}

.gst-students-list a:hover .student-image {
    border: 2px solid #599A4E;
}

.gst-student {
    width: 260px;
    margin: 10px 0 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.gst-student:first-child {
    margin-top: 0px;
}

.student-image {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
}

.student-image img {
    width: 100%;
    height: 100%;
}

.student-name {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    text-align: left;
    margin-left: 15px;
}

@media(max-width: 510px) {
    .gst-pie-diagram {
        margin: 0 auto;
    }

    .gst-line,
    .gst-line-bold {
        max-width: 300px;
    }

    .gst-students-list {
        justify-content: space-between;
    }

    .gst-tab {
        width: 100%;
    }
}