$display-page-header: block;
$custom-main-bg-color: #F8FFF3;
$custom-main-header-color: #C3E4AF;
$custom-main-link-color: #222222;
$custom-card-shadow-color: #ECECEC;
$navbar-height: 120px;
$custom-drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
$custom-image-shadow: drop-shadow(-7px 4px 1px rgba(0, 0, 0, 0.25));
$font-rubik: Rubik, sans-serif;


/*pre.scss*/
/*calendar*/
.calendarmonth.calendartable th.header{
  padding: 15px;
  border: none;
}
.calendarmonth tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

.calendarmonth tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

.calendarmonth tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.calendarmonth tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.calendarmonth td,
.calendarmonth td.dayblank:hover {
  border:0.5px solid #E0E0E0 !important;
  background: white;
}

.calendarmonth td.dayblank:hover{
  transform: scale(1);
}

.calendarwrapper .today {
  border: 2px solid #ff7800d6 !important;
  border-radius: 2px;
}

.calendarwrapper .today:hover {
  border: 2px solid #ff7800d6 !important;
}

.calendarmonth td:hover {
  transform: scale(1.035);
  transition: .3s;
  border-radius: 5px;
  border: 1px solid forestgreen  !important;
}

table.calendarmonth{
  border-collapse: separate !important; border-spacing: 0;
}

div.path-calendar{
  margin-bottom: 30px;
}

.d-md-block {
  padding-left: 5px;
  padding-top: 3px;
}

.calendarmonth .eventname{
  background: #fee7ae;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: #353535;
  font-size: 14px;
}

.calendarmonth .eventname:hover{
  transform: translateY(-12.5px);
  box-shadow: 0px 0px 4px transparent;
  position: absolute;
}

.block_calendar_month .dayblank{
  background: #fff !important;
}
.dayblank{
  background: #f2f9fa !important;
}

.calendarwrapper .table-legend {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 10px;
}

.calendarwrapper .legend-group {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20px;
}

.calendarwrapper .legend-group-color {
  height: 10px;
  border-radius: 5px;
  width: 40px;
  margin-right: 9px;
}

/*calendar-end*/

.online-class {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-height: 190px;
  max-width: 340px;

  .info-block-container {
    margin: 0 auto;
    min-width: 180px;
    max-width: 200px;
    width: 65%;
  }

  .info-block {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 1rem;
    margin-top: .25rem;
  }

  .time-info {
    font-size: 0.76rem;
    margin-right: 5px;
    max-width: 165px;
  }

  .time-info-value {
    font-size: 0.75rem;
    min-width: 40px;
  }

  .time-info-value#maxed {
    margin-bottom: 30px;
    min-width: 83px;
  }

  p {
    margin-top: .5rem;
    margin-bottom: 0;
  }

  button {
    background-color: #f7542e;
    border-radius: 5px;
    font-size: .875rem;
    font-weight: 500;
    max-width: 170px;
    padding: 10px;
    color: white;
    height: 35px;
    width: 100%;
    border: none;
  }

  button:hover {
    background-color: #e33a13;
  }

  .side-image {
    display: flex;
    align-items: center;
    max-height: 130px;
    flex-shrink: 0;
    width: 34%;
  }

  .side-image img {
    width: 100%;
    margin: 0 auto;
    min-width: 75px;
    max-width: 100px;
  }
}

.pay {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  max-width: 340px;
  max-height: min-content;  /* old value: 165px; */

  h5 {

    letter-spacing: -0.2px;
    font-size: 1.05rem;
    line-height: 1rem;
    font-weight: 500;
    margin: 0;
  }

  .info {
    text-align: left;
  }

  .title {
    letter-spacing: -0.4px;
    line-height: 10px;
    font-weight: 400;
    margin-top: 14px !important;
    font-size: 12px;
    margin: 0;
  }

  .value {
    font-style: normal;
    letter-spacing: -0.4px;
    margin-top: 4px;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
  }

  a, input[type="submit"] {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #70D887;
    color: #FFFFFF;
    margin-top: 12px;
    padding: 10px 46px;
    max-height: 34px;
    max-width: 160px;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 14.5px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    border: 0;
    color: #454545;
  }
  a:hover, input[type="submit"]:hover {
    background: #54A867;
  }

  .side-image {
    display: flex;
    align-items: center;
    max-height: 150px;
    width: 45%;

  }

  .side-image img {
    margin: 0 auto;
    width: 100%;
  }

  .info-block {
    margin: 0 auto;
    text-align: center;
    min-width: 155px;
    max-width: 155px;
    width: 55%;
  }

  .info-bar {
    max-width: 110px;
    text-align: left;
    margin: 0 auto;
  }

}

.notifications {
  max-width: 330px;
  margin: 0 auto;

  .notifications-title {
    text-align: center;
    letter-spacing: -0.2px;
    line-height: 16px;
    padding-top: 14px;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }

  .notes {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    margin-bottom: 10px;
    margin-top: 15px;
    height: 110px;
  }

  .notes::-webkit-scrollbar {
    display: none;
  }

  .note {
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-align: left;
    display: flex;
    padding-bottom: 20px;
    font-size: .95rem;
    line-height: 1.1rem;
    font-weight: 400;
  }

  .note p {
    margin: 0;
  }

  .note:last-of-type {
    padding-bottom: 0px;
  }
}

/*post.scss*/

*:focus {
  outline: none;
}

#region-main {
  border: none;
  background-color: $custom-main-bg-color !important;
}

@media (min-width: 1200px) {
  .col-xl-4 {
    //flex: 0 0 33.3333333333%;
    //max-width: 33.3333333333%;
  }
}

.col-xl-8 .candidate_revew_select ul {
  display: flex;
  align-items: stretch;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //align-items: stretch;
  //width: 100%;
  //padding: 0.5rem;
  //margin-bottom: 1rem;

  .top_courses {
    max-width: 330px;
    height: 400px;
    border: none;
    position: relative;
    //width: 100%;
    //padding-right: .5rem;
    //padding-left: .5rem;
    background-color: $custom-main-bg-color !important;

    .thumb {
      overflow: hidden;
    }

    .details {
      .tc_content {
        max-height: 200px;
        overflow: hidden;
      }
    }

    .tc_footer {
      border-top: none;
      display: flow-root;
      padding: 10px 20px;
      //position: absolute;
      bottom: 0;
    }

  }

}

body {
  font-family: 'Rubik', sans-serif !important;
  line-height: 1.2 !important;
  background-color: $custom-main-bg-color !important;
}

footer {
  display: none !important;
}

nav.navbar {
  height: $navbar-height;
  max-height: $navbar-height;

  &.navbar-bootswatch {
    background-color: $custom-main-header-color !important;
  }

  > a.navbar-brand {
    //text-shadow: -2px 4px 4px #909090;
    display: flex;
    align-items: center;
    filter: $custom-drop-shadow;
    color: $custom-main-link-color !important;
    //margin-left: 4.375em;
    //margin-right: 2em;

    > span.logo {
      margin: -15px 2rem 0;

      > img {
        filter: $custom-drop-shadow;
        max-height: 56px;
      }
    }

  }

  > ul.navbar-nav {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;

    .nav-link {
      //text-shadow: -2px 4px 4px #909090;
      filter: $custom-drop-shadow;
      color: $custom-main-link-color !important;
    }

    > li.nav-item {
      a.nav-item.nav-link {
        padding-left: 3.5em !important;
      }

    }

    &.nav.usernav {
      > li.nav-item {
        > div.navbar-item-icon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 .5rem;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          filter: $custom-drop-shadow;
          background-color: #4E9A5F;
        }

        > div.navbar-item-logout {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: $custom-drop-shadow;
        }

        .usermenu {
          .dropdown-toggle {
            &::after {
              display: none;
            }

            .userpicture.defaultuserpic {
              width: 48px;
              height: 48px;
              filter: $custom-drop-shadow;
            }

          }
        }

      }
    }
  }

}

#login_popup {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  &:target {
    visibility: visible;
    display: block;

    .close-popup {
      opacity: 1;
      visibility: visible;
      /* cancel visibility transition delay */
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  .login_popup_inner {
    position: relative;
    max-width: 400px;
    min-width: 250px;
    width: 90%;
    top: 200px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 1rem;
    background-color: $custom-main-bg-color;

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 5px;
      color: #000;
      transition: color .3s;
      font-size: 2em;
      line-height: .6em;
      font-weight: bold;
    }

    .login_wrap {
      display: flex;

      .potentialidps {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px auto;

        img.logo {
          width: 120px;
        }

        .potentialidplist {
          margin: 0 auto;
        }
      }
    }

    .btn-block {
      width: 80% !important;
      margin: 10px auto;
    }
  }

  .close-login-popup {
    background: rgba(0, 0, 0, .7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
  }

}

//.header_user_notif li .dropdown .notification_icon {
//  border-radius: 50%;
//  background-color: #4e9a5f;
//  display: block;
//  height: 43px;
//  line-height: 40px;
//  text-align: center;
//  width: 43px;
//}
#page {
  margin-top: calc(#{$navbar-height} + 1rem);
}

//.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
//  padding-right: 32px !important;
//  padding-left: 32px !important;
//}

#page-header {
  display: $display-page-header;
}

#block-region-content > section {
  background-color: #f8fff3;
}

.columnleft {
  .card-body {
    padding: 0 !important;
  }

  .mt-3 {
    .no-overflow {
      overflow: inherit;
      margin-top: -16px;

      > div > iframe.iframe_tg {
        border-width: 0;
        display: block;
        width: 100%;
        height: 100vh;

        .login_head_wrap, .tg_page_head {
          background-color: red;

          a {
            color: $custom-main-link-color !important;
          }
        }
      }
    }
  }

}

.columnleft {
  section {
    //background-color: $custom-main-bg-color !important;
  }
}

.messangers {
  display: flex;
  flex-wrap: wrap;
  //height: 300px;
  width: 100%;

  label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    transition: background ease 0.3s;
  }

  .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;

    iframe {
      border-width: 0;
      display: block;
      height: 60vh;
      width: 100%;
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: $custom-main-header-color;
  }

  input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 465px) {
    .tab,
    label {
      order: initial;
    }

    label {
      width: 100%;
      margin-left: 50px;
    }
  }
}




section.block.card {
  border: none !important;

  > div.card-body {
    > h5.card-title {
      display: none !important;
    }

    a {
      color: #454545;
      //font-weight: bold;
      text-decoration: none;
      //background-color: transparent;
    }
  }
}

.columnleft, .columnright {
  section.block.card {
    //overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 10px $custom-card-shadow-color;
    -moz-box-shadow: 0px 3px 10px $custom-card-shadow-color;
    box-shadow: 0px 3px 10px $custom-card-shadow-color;
  }
}

.columnright {
  section.block.card {
    max-width: 400px;
    margin: 0 auto;
  }
}

.block_calendar_upcoming .footer, .block_calendar_upcoming hr {
  display: none;
}

// courses
//shadows to icons
img.activityicon {
  //filter: $custom-image-shadow;
  height: 30px !important;
  width: 30px !important;
}

#page-course-view-topics {
  #region-main {
    background-color: $custom-main-bg-color;
    border: none;
  }
}

.course-content {
  margin-bottom: 16px;

  #completionprogressid {
    display: none;
  }

  ul.topics, ul.weeks {
    li.section {
      margin-top: 0.625rem;
      padding-bottom: 0;
      border: 1px solid #fff;
      border-radius: 1rem;
      background-color: #fff;
      //overflow: hidden;

      > div.side.left {
        display: none;
      }

      /* Убираем стандартный маркер Chrome */
      details {
        summary::-webkit-details-marker {
          outline: none;
          display: none;
        }

        /* Убираем стандартный маркер Firefox */
        summary {
          outline: none;
          list-style: none;
          //background-color: #e5f6db;
          padding: 0.8125rem 1.5rem;

          h3 {
            display: inline-block;
            margin-bottom: 0;
            font-size: 1rem;
            font-style: normal;
            font-weight: normal;


            a {
              //font-family: $font-rubik;
              color: $custom-main-link-color;
            }
          }
        }

        summary:after {
          float: right;
          width: 1.375rem;
          height: 1.2rem; //h2 line-height
          content: "";
          //content: "\f107";
          //font-family: "Font Awesome\ 5 Free";
          //font-weight: 900;
          transition: transform 0.2s;
          will-change: transform;
          background: url([[pix:theme|icons/arrow-details]]) no-repeat center;
          background-size: contain;
        }

        &[open] summary:after {
          transform: rotate(180deg);
        }

        .summary {
          padding: 0 1.5rem;
          font-size: 0.875rem;
          color: #BFBFBF;
        }

        ul.section {
          margin: 0;
          padding: 0;

          li {
            padding: 0.8125rem 1.5rem;
            border-top: 1px solid #E3E3E3;

            div {
              padding: 0;
            }

            .activityinstance {
              min-height: 1em !important;

              .instancename {
                //font-family: $font-rubik;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: normal;
                line-height: 1rem;
                color: #353535;
              }
            }


            .contentafterlink {
              margin-top: 1rem;
              margin-left: 0;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: normal;
              line-height: 0.875rem;
              color: #BFBFBF;
            }

          }
        }

      }


    }
  }
}

section.block_badges {
  background-color: $custom-main-bg-color;

  .card-body.p-3 {
    padding: 0 !important;

    .card-text.content.mt-3 {
      margin-top: 0 !important;

      ul.badges {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: 138px;
        //padding-left: 0rem;
        > li {
          flex: 1;
          min-width: 190px;
          position: relative;
          margin: 0 1rem 1rem 0;
          height: 128px;
          padding: 1rem 0.5rem;
          text-align: left;
          background: #FFFFFF;

          box-shadow: 0px 3px 10px #ECECEC;
          border-radius: 4px;

          a {
            display: flex;
            justify-content: space-between;

            .badge-image {
              order: 2;
              float: right;
              max-width: 40%;
              height: auto;
              filter: $custom-drop-shadow;;
            }

            span.badge-name {
              max-width: 60%;
              font-family: $font-rubik;
              font-style: normal;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.1875rem;
              color: #353535;
            }

            span.badge-version {
              max-width: 60%;
              position: absolute;
              bottom: 1rem;

              display: block;
              padding: 5px;
              font-family: $font-rubik;
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.0625rem;
              color: #353535;
            }
          }

        }
      }
    }

  }

}

section.block_calendar_month {
  //color: #353535;
  .content {
    //margin-top: 0 !important;

    table {
      font-size: 0.875rem;

      caption.calendar-controls a {
        color: #353535;
        font-size: 1rem;
      }

      thead > tr > th, tbody > tr > td {
        font-weight: normal;
        padding: 3px !important;
        font-size: .875em !important;
        line-height: 1.0625rem;
        letter-spacing: 0.02em;
      }
    }
  }

}

.mediaplugin.mediaplugin_youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mediaplugin.mediaplugin_videojs.d-block > div {
  max-width: none !important;

  .video-js .vjs-big-play-button {
    top: calc(50% - 0.8em);
    left: calc(50% - 1.5em);
  }
}

/* Убираем параметр "Идентификационный номер категории" из формы редактирования категории */
#page-course-editcategory #fitem_id_idnumber
{
  display: none;
}

/* Убираем лишние разделы из формы редактирования курса.
По порядку: "Теги", "Внешний вид", "Файлы и загрузки". */
#page-course-edit #id_tagshdr,
#page-course-edit #id_appearancehdr,
#page-course-edit #id_filehdr
{
  display: none;
}

/* Убираем параметр "Идентификационный номер курса" из раздела "Общее" формы редактирования курса */
#page-course-edit #id_general #fitem_id_idnumber,
  /* Убираем параметры «Отображение скрытых секций» и «Представление курса» из раздела «Формат курса» формы редактирования курса */
#page-course-edit #id_courseformathdr #fitem_id_hiddensections,
#page-course-edit #id_courseformathdr #fitem_id_coursedisplay,
  /* Убираем параметр "Поток по умолчанию " из раздела "Группы" формы редактирования курса */
#page-course-edit #id_groups #fitem_id_defaultgroupingid,
  /* Убираем лишние роли из раздела "Переименование ролей" формы редактирования курса */
#page-course-edit #id_rolerenaming #fitem_id_role_2,
#page-course-edit #id_rolerenaming #fitem_id_role_4,
#page-course-edit #id_rolerenaming #fitem_id_role_7,
#page-course-edit #id_rolerenaming #fitem_id_role_8,
#page-course-edit #id_rolerenaming #fitem_id_role_9
{
  display: none;
}

/* Убираем лишние разделы из форм редактирования модулей.
По порядку: "Теги", "Компетенции", "Типы отзывов", "Настройки представления работ группы", "Выполнение элемента курса". */
form[action="modedit.php"] > #id_tagshdr,
form[action="modedit.php"] > #id_competenciessection,
form[action="modedit.php"] > #id_feedbacktypes,
form[action="modedit.php"] > #id_groupsubmissionsettings,
form[action="modedit.php"] > #id_activitycompletionheader,
  /* Убираем параметр "Дополнительные попытки" из раздела "Параметры ответа" форм редактирования модулей */
form[action="modedit.php"] > #id_submissionsettings #fitem_id_attemptreopenmethod,
  /* Убираем параметры "Метод оценивания" и "Категория оценки" из раздела "Оценка" форм редактирования модулей */
form[action="modedit.php"] > #id_modstandardgrade #fitem_id_advancedgradingmethod_submissions,
form[action="modedit.php"] > #id_modstandardgrade #fitem_id_gradecat
{
  display: none;
}

/* Убираем параметр "Напомнить мне о завершении оценивания" из раздела "Доступно" формы редактирования задания (модуль assign) */
#page-mod-assign-mod #id_availability #fitem_id_gradingduedate,
  /* Убираем параметры "Максимальное число загружаемых файлов" и "Максимальный размер файла" из раздела "Типы представлений ответов" формы редактирования задания (модуль assign) */
#page-mod-assign-mod #id_submissiontypes #fitem_id_assignsubmission_file_maxfiles,
#page-mod-assign-mod #id_submissiontypes #fitem_id_assignsubmission_file_maxsizebytes,
  /* Убираем параметр "Значение по умолчанию для «Сообщить студентам»" из раздела "Уведомления" формы редактирования задания (модуль assign) */
#page-mod-assign-mod #id_notifications #fitem_id_sendstudentnotifications,
  /* Убираем лишние параметры раздела "Оценка" формы редактирования задания (модуль assign)  */
#page-mod-assign-mod #id_modstandardgrade #fitem_id_blindmarking,
#page-mod-assign-mod #id_modstandardgrade #fitem_id_hidegrader,
#page-mod-assign-mod #id_modstandardgrade #fitem_id_markingworkflow,
#page-mod-assign-mod #id_modstandardgrade #fitem_id_markingallocation,
  /* Убираем лишние параметры раздела "Параметры ответа" формы редактирования задания (модуль assign)  */
#page-mod-assign-mod #id_submissionsettings #fitem_id_submissiondrafts,
#page-mod-assign-mod #id_submissionsettings #fitem_id_requiresubmissionstatement,
{
  display: none;
}

/* Корректируем внешний вид элемента modgrade в секции "Оценка" формы редактирования элемента курса "Задание" (модуль assign) */
#page-mod-assign-mod #id_modstandardgrade #fitem_fgroup_id_grade
{
  [data-fieldtype="modgrade"]
  {
    border: 0;
    max-height: 100px;
    background-color: #f8fff3;

    label[for="id_grade_modgrade_type"],
    label[for="id_grade_modgrade_type"] + div
    {
      display: none;
    }

    label[for="id_grade_modgrade_point"]
    {
      margin-top: -115px;
    }

    label[for="id_grade_modgrade_point"] + div
    {
      margin-top: -50px;
    }
  }
}

//Убираем блок модуля "Jitsi", при добавлении нового элемента курса
.optionscontainer {
  .option[aria-label="Jitsi"]{
    display: none;
  }
}

//Folder activity
.tab-pane .optionscontainer .option[data-modname^="mod_folder_"] {
  order: 1;
  flex-basis: 100%;
}
.tab-pane .optionscontainer .option[data-modname^="mod_audiofolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_pdffolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_picfolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_presentationfolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_tablefolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_textfolder_"],
.tab-pane .optionscontainer .option[data-modname^="mod_videofolder_"],
{
  order: 2;
}


/*
//Отображение всех папок в начале и отделение их от остальных элементов курса
.optionscontainer {
    .option[data-internal*="folder"]{
        order: -1;
    }

   .option[data-internal="folder"]{
        order: -2;
    }

   .option[data-internal="textfolder"]{
       margin-right: 55% !important;
   }
}

@media(max-width: 991px) {
       .optionscontainer .option[data-internal="textfolder"]{
           margin-right: 30% !important;
       }
}

@media(max-width: 575px) {
       .optionscontainer .option[data-internal="textfolder"]{
           margin-right: 0% !important;
       }
}
*/

//Стили для ожидающей темы авторизации
@keyframes pulse {
  0%  {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.logo-pulse{
  animation: pulse 4s infinite;
  animation-timing-function: ease-in-out;
}

.brightless-login-form{
  opacity: 50%;
}

//Стили для уведомления об ошибке авторизации
.auth-error-alert {
  display: flex;
  justify-content: center;

  padding: 3%;
  margin-bottom: 5%;
  border-radius: 5%;

  background: rgba(255,0,0,0.2);
}

//Стили для разделения кнопок заголовка и названия страницы
.card-only-buttons {
  .card-body{
    padding: 0 1rem 1.25rem 1.25rem;
    #context-header{
      display: none !important;
    }
  }
}

.card-only-course-name {
  .card-body{
    padding: 0 1.25rem;

    #buttons-header{
      display: none !important;
    }
  }
}

//Стиль для текста заголовка курса на странице my
div[role="main"]{
  .course-title{
    text-align: center;
  }
}