{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/day_navigation

    Calendar day navigation.

    The purpose of this template is to render the navigation to switch to previous and next months.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="day-navigation-{{uniqid}}" class="controls clearfix detailed-controls">
    <div class="calendar-controls">
        <div class="calendar-links">
            <div id="calendarlink-previousperiod" class="calendar-control-arrow"{{!
            }} data-href="{{previousperiodlink}}"{{!
            }} title="{{#str}}dayprev, calendar{{/str}}"{{!
            }} data-year="{{previousperiod.year}}"{{!
            }} data-month="{{previousperiod.mon}}"{{!
            }} data-day="{{previousperiod.mday}}"{{!
            }}>
                <div class="arrow">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7688 13.7067L11.906 10L15.7688 6.29326C16.0771 5.99741 16.0771 5.51774 15.7688
                            5.22189C15.4605 4.92604 14.9606 4.92604 14.6523 5.22189L10.2312 9.46431C9.92292 9.76017
                            9.92292 10.2398 10.2312 10.5357L14.6523 14.7781C14.9606 15.074 15.4605 15.074 15.7688
                                14.7781C16.0771 14.4823 16.0771 14.0026 15.7688 13.7067Z">
                        </path>
                        <path d="M9.76877 13.7067L5.90596 10L9.76877 6.29326C10.0771 5.99741 10.0771 5.51774 9.76877
                            5.22189C9.46046 4.92604 8.96059 4.92604 8.65228 5.22189L4.23123 9.46431C3.92292 9.76017 3.92292
                            10.2398 4.23123 10.5357L8.65228 14.7781C8.96059 15.074 9.46046 15.074 9.76877 14.7781C10.0771
                            14.4823 10.0771 14.0026 9.76877 13.7067Z"></path>
                    </svg>
                </div>&nbsp;
                <div class="arrow_text">{{previousperiodname}}</div>
            </div>

            <div id="calendarlink-nextperiod" class="calendar-control-arrow"{{!
            }} data-href="{{nextperiodlink}}"{{!
            }} title="{{#str}}daynext, calendar{{/str}}"{{!
            }} data-year="{{nextperiod.year}}"{{!
            }} data-month="{{nextperiod.mon}}"{{!
            }} data-day="{{nextperiod.mday}}"{{!
            }}>
                <div class="arrow_text">{{nextperiodname}}</div>
                <div class="arrow">
                    <svg style="transform: rotate(180deg)" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7688 13.7067L11.906 10L15.7688 6.29326C16.0771 5.99741 16.0771 5.51774 15.7688
                            5.22189C15.4605 4.92604 14.9606 4.92604 14.6523 5.22189L10.2312 9.46431C9.92292 9.76017
                            9.92292 10.2398 10.2312 10.5357L14.6523 14.7781C14.9606 15.074 15.4605 15.074 15.7688
                                14.7781C16.0771 14.4823 16.0771 14.0026 15.7688 13.7067Z">
                        </path>
                        <path d="M9.76877 13.7067L5.90596 10L9.76877 6.29326C10.0771 5.99741 10.0771 5.51774 9.76877
                            5.22189C9.46046 4.92604 8.96059 4.92604 8.65228 5.22189L4.23123 9.46431C3.92292 9.76017 3.92292
                            10.2398 4.23123 10.5357L8.65228 14.7781C8.96059 15.074 9.46046 15.074 9.76877 14.7781C10.0771
                            14.4823 10.0771 14.0026 9.76877 13.7067Z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <span class="hide"> | </span>
        <h2 class="current">{{periodname}}</h2>
        <span class="hide"> | </span>
        
        
        <div class="calendar-view-switch-select">
            <select name="" id="calendar-view-switch">
                <option value="day" selected>День</option>
                <option value="month">Месяц</option>
            </select>
        </div>
    </div>
    <style>
        .detailed-controls .calendar-controls{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .calendar-links {
            display: flex;
        }

        .calendar-control-arrow {
            display: flex;
            color: #C0C7BA;

            margin-right: 5%;
        }

        .calendar-control-arrow svg{
            fill: #C0C7BA;
        }

        .calendar-control-arrow:hover{
            color: forestgreen;
            cursor: pointer;
        }

        .calendar-control-arrow:hover svg{
            fill: forestgreen;
        }

        .calendar-control-arrow .arrow{
            width: 20px;
            height: 20px;
        }

        .arrow_text{
            line-height: 20px;
        }

        .calendar-view-switch-select select {
            padding-left: 0.5em;
            padding-right: 2.5em;

            border: 1px solid #C0C7BA;
            border-radius: 5px;

            background: url(/calendar/assets/img/view-select.png) 90% / 17% no-repeat white;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</div>
