{{!
    @template core/block

    Example context (json):
    {
        "id": "block0",
        "class": "block block_html",
        "showskiplink": true,
        "type": "html",
        "ariarole": "complementary",
        "title": "Test block",
        "blockinstanceid": 1,
        "content": "<p>Hello block world!</p>"
    }

}}
{{! Block Skip Link }}
{{#showskiplink}}
  <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
{{/showskiplink}}

{{! Start Block Container }}
<section id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} {{class}} no-header {{#hascontrols}}block_with_controls{{/hascontrols}} card mb-3"
     role="{{ariarole}}"
     data-block="{{type}}"
     {{#arialabel}}
        aria-label={{#quote}}{{{arialabel}}}{{/quote}}
     {{/arialabel}}
     {{^arialabel}}
        {{#title}}
          aria-labelledby="instance-{{blockinstanceid}}-header"
        {{/title}}
     {{/arialabel}}>

    {{! Block contents }}
    <div class="card-body p-3">

        {{! Block header }}
        <div class="card-header-wrapper">

            <div><h5 id="instance-{{blockinstanceid}}-header" class="card-title d-inline {{#hideheader}}hidden{{/hideheader}}">{{{title}}}</h5></div>
        
            <div class="block-controls-wrapper">

                {{#hascontrols}}
                    <div class="block-controls float-right header">
                        {{{controls}}}
                    </div>
                {{/hascontrols}}
                
                {{#minimizable}}
                    <div class="block-minimize-switch" onclick="block_content_minimization_switch('{{id}}')"></div>
                {{/minimizable}}
        
            </div>
        
        </div>

        <!--div class="card-text content mt-3"-->
        <div class="card-text content">
            {{{content}}}
            <div class="footer">{{{footer}}}</div>
            {{{annotation}}}
        </div>

    </div>

{{! End Block Container }}
</section>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <span id="sb-{{skipid}}"></span>
{{/showskiplink}}
