.shadowed-item {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.cource-group-members {
    margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
}

.cource-group-members a {
    text-decoration: none;
    color: #353535;
}

.cource-group-members a:hover {
    text-decoration: none;
}

.cource-group-members .cgm-student-selector svg {
    fill: #C0C7BA;
}

.cgm-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.cgm-group-select {
    margin-top: 25px;
}

.cgm-group-line {
    height: 35px;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.cgm-group-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.cgm-group-logo img {
    width: 100%;
    height: 100%;
}

.cgm-group-name {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin-left: 15px;
}

.cgm-group-selector {
    margin-left: auto;
}

.cgm-division-line {
    margin-top: 20px;
    margin-left: 30px;
    height: 1px;
    background: #bfbfbf;
}

.cgm-filter-group-students {
    margin-top: 10px;

}

.cgm-filter-line {
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
}

.cgm-filter-property {
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin-right: 10px;
}

.cgm-filter-selector {
    width: 100%;
}

.cgm-filter-selector-line{
    height: 30px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: end;
}
.cgm-filter-selector-line-text{
    font-size: .875rem;
}

.cgm-filter-selector-line-svg {
    margin-left: 10px;
    stroke: #C0C7BA;
}

.cgm-filter-selector-line:hover .cgm-filter-selector-line-svg{
    stroke: forestgreen;
}

.cgm-filter-selector-line:hover {
    color: forestgreen;
}

.cgm-student-list {
    border-bottom: 1px solid #353535;
    margin-bottom: 5px;
    margin-top: 15px;
    max-height: 400px;
    overflow: auto;
}

.cgm-student:hover:hover .cgm-student-selector svg {
    fill: forestgreen;
}

.cgm-student:hover {
    color: forestgreen;
}

.cgm-student {
    margin-bottom: 15px;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 42px;
}

.cgm-student-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.cgm-student-image img {
    width: 100%;
    height: 100%;
}

.cgm-student-name {
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.cgm-student-selector {
    margin-left: auto;
    margin-right: 15px;
}

.cs-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.cs-nodata{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
/**********************277**********************/

.cs-cource-search-line input,
.cs-group-search-line input{
    width: 100%;
    height: 40px !important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid forestgreen;
    padding-left: 10px;
}

.cs-cource-search-line input:focus,
.cs-group-search-line input:focus{
    outline: 1px solid forestgreen !important;
    border-bottom: 1px solid transparent;
}

.cgm-student-image .blank{
    width: 40px;
    height: 40px;
    background: #a9a9a9;
    border-radius: 50%;
}

.gm-bau-plus-image .blank{
    width: 25px;
    height: 25px;
    background: #a9a9a9;
    border-radius: 50%;
}

.gm-bau-button-text .blank,
.cgm-student-name .blank{
    width: 150px;
    height: 15px;
    background: #a9a9a9;
    border-radius: 5px;
}

.disabled-mouse-events{
    pointer-events: none;
}

.disabled-mouse-events svg{
    fill: lightgrey;
}

.disabled-mouse-events a{
    cursor: default;
    color: lightgrey !important;
    text-decoration: none;
}

/**********************************************/
.selector-variant-holder{
    height: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 5px;
}

.selector-variant-holder a {
    color: #353535;
    text-decoration: none;
    margin-left: auto;
}

.selector-variant-holder a:hover {
    color: forestgreen;
}

.selector-variant-holder a:hover .cs-add-group-ico svg{
    fill: forestgreen;
}

.cs-add-group{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.cs-add-group-ico{
    margin-right: 7px;
    width: 18px;
    height: 18px;
}

.cs-add-group-ico svg {
    display: block;
    width: 100%;
    height: 100%;
}

.cs-add-group-text{
    height: 20px;
    line-height: 16px;
    font-size: 1rem;
}

.cs-group-select .hide,
.cs-cource-select .hide {
    display: none;
    transition: height .3s linear;
}

.cs-group-select {
    z-index: 5;
}

.cs-cource-select {
    z-index: 7;
}

.cs-group-select .show,
.cs-cource-select .show {
    display: block;
    transition: height .3s linear;
}

.cs-group-select,
.cs-cource-select {
    max-width: 310px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.cs-logo {
    width: 35px;
    height: 35px;
}

.cs-group-line,
.cs-cource-line,
.cs-cource-search-line,
.cs-group-search-line{
    min-height: 47px;
    flex-wrap: nowrap;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

.cs-group-list,
.cs-cource-list {
    width: 100%;
    position: absolute;
    max-height: 300px;
    overflow: auto;
    border: 1px solid lightgrey;
    padding-bottom: 15px;
    background: white;
    border-radius: 5px;
}

.cs-group-list .cs-group-line:hover,
.cs-cource-list .cs-cource-line:hover {
    border-radius: 5px;
    color: forestgreen;
    border: 1px solid forestgreen;
}

.cs-group-line.current-line .cs-group-selector,
.cs-cource-line.current-line .cs-cource-selector {
    transition: height .3s linear;
}

.cs-group-line.current-line.active,
.cs-cource-line.current-line.active {
    /*border: 1px solid forestgreen;*/
    background: #f0fff6;
    border-radius: 5px;
}

.cs-group-line.current-line.active .cs-group-selector,
.cs-cource-line.current-line.active .cs-cource-selector {
    transform: rotate(-180deg);
    transition: .3s;
}

.cs-group-line.current-line.active .cs-group-selector svg,
.cs-cource-line.current-line.active .cs-cource-selector svg {
    stroke: forestgreen;
}

.cs-group-line.current-line,
.cs-cource-line.current-line {
    border: 1px solid lightgrey;
}

.cs-group-line.current-line:hover,
.cs-cource-line.current-line:hover {
    border: 1px solid forestgreen;
}

.cs-group-line.current-line:hover .cs-group-selector svg,
.cs-cource-line.current-line:hover .cs-cource-selector svg {
    stroke: forestgreen;
}

.current-line svg,
.current-line svg {
    fill: none !important;
}

.cs-group-line:hover svg,
.cs-cource-line:hover svg {
    fill: forestgreen;
}

.cs-group-logo,
.cs-cource-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-group-logo img,
.cs-cource-logo img {
    width: 100%;
    height: 100%;
}

.cs-group-name,
.cs-cource-name {
    height: inherit;
    max-width: 150px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 15px;
}

.cs-group-name{
    max-width: 110px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cs-group-selector,
.cs-cource-selector {
    margin-left: auto;
}

.cs-group-selector svg,
.cs-cource-selector svg {
    display: block;
    stroke: #C0C7BA
}

.cs-data-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.cs-division-line {
    margin-top: 20px;
    margin-left: 20px;
    height: 1px;
    background: #bfbfbf;
}
/***************************************************/
.gm-block-add-user{
    margin: 0 auto;
}

.gm-block-add-user a{
    text-decoration: none;
    color: #353535;
}

.gm-bau-button-add{

    display: flex;
    align-items: center;
    padding: 5px;
    width: 220px;
    height: 40px;
    margin: 0 auto;
}

.gm-bau-plus-image{
    width: 25px;
    height: 25px;
}

.gm-bau-plus-image svg{
    width: 100%;
    height: 100%;
}


.gm-block-add-user .gm-add-user-plus{
    fill: #353535;
}

.gm-block-add-user .gm-bau-button-text{
    width: 200px;
    color: #353535;
    font-size: 16px;
    margin-left: 25px;
}

.gm-bau-button-add:hover .gm-add-user-plus{
    fill: forestgreen;
}

.gm-bau-button-add:hover .gm-bau-button-text{
    color: forestgreen;
}

.gm-bau-button-add:hover {
    border: 1px solid forestgreen;
    border-radius: 5px;
}